apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-gitops-v1
  labels:
    app: hello-gitops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-gitops
      version: v1.0.0
  template:
    metadata:
      labels:
        app: hello-gitops
        version: v1.0.0
    spec:
      containers:
      - name: hello-gitops
        image: hello-gitops:latest
        ports:
        - name: http
          containerPort: 8050