apiVersion: v1
kind: Service
metadata:
  name: hello-gitops
  labels:
    app: hello-gitops
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: http
  selector:
    app: hello-gitops
    version: v1.0.0